doc/html/
inkids_rare.bed.gz
inkids_rare_smaller.bed.gz
*.o
**/*_Runner.c
*.dSYM/
*.DS_Store
bin/
lib/
ssshtest
test/**/*.idx
test/**/*.dat

# Ignore test/unit build artifacts (compiled binaries and generated runners)
test/unit/test_*
!test/unit/test_*.c
test/unit/test_*_Runner.c